/* Terminal-inspired PDF stylesheet: keep everything looking like a plain text file */

@page {
  size: letter;
  margin: 0.1in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", "Lucida Console", monospace;
  font-size: 11pt;
  line-height: 1.4;
  color: #111;
  background: #fff;
  max-width: 110ch;
  margin: 0.1in auto;
  letter-spacing: 0.01em;
}

h1, h2, h3, h4 {
  font-weight: 700;
  page-break-after: avoid;
  text-transform: uppercase;
}

h1 {
  font-size: 14pt;
  margin-bottom: 6pt;
  border-bottom: 1px solid #111;
  padding-bottom: 2pt;
}

h2 {
  font-size: 11.5pt;
  margin-top: 14pt;
  margin-bottom: 4pt;
}

h3 {
  font-size: 10.5pt;
  margin-top: 9pt;
  margin-bottom: 3pt;
}

h4 {
  font-size: 10pt;
  margin-top: 6pt;
  margin-bottom: 2pt;
}

p {
  margin-bottom: 6pt;
  text-align: left;
}

a {
  color: inherit;
  text-decoration: underline;
}

ul, ol {
  margin-left: 1.2em;
  margin-bottom: 6pt;
}

li {
  margin-bottom: 2pt;
  page-break-inside: avoid;
  list-style: none;
}

li::before {
  content: "- ";
  margin-left: -1.2em;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

code {
  font-family: "Courier New", "Lucida Console", monospace;
  font-size: 10pt;
}

hr {
  border: none;
  border-top: 1px solid #222;
  margin: 12pt 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10pt;
}

th, td {
  text-align: left;
  padding: 3pt 2pt;
  border-bottom: 1px dotted #666;
}

th {
  font-weight: 700;
}

.page-break {
  page-break-before: always;
}

.no-break {
  page-break-inside: avoid;
}

.contact-info {
  margin-bottom: 10pt;
}

@media print {
  body {
    font-size: 10pt;
    margin: 0.6in auto;
  }
}
